# config/application.yml
defaults: &defaults
  host: localhost

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  smtp:
    address:              'smtp.gmail.com',
    port:                 587,
    domain:               'example.com',
    user_name:            '<username>',
    password:             '<password>',
    authentication:       'plain',
    enable_starttls_auto: true
